section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#change_type {
    text-align: center;
    text-decoration: underline;
}

#text {
    text-align: center;
    font-size: 13px;
    width: 82vw;
    border-radius: 2px;
    padding: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

#action {
    width: 87vw;
    border: none;
    height: 40px;
    color: black;
    border-radius: 5px;
    margin: 12px 0 70px 0;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
    width: 85vw;
    background-color: rgb(121, 220, 201);
    color: black;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    padding: 4px;
}

input:focus {
    background-color: rgb(121, 220, 201);
}

#password {
    margin-left: 10px;
}

#input_field {
    margin-left: 11px;
}

#bottom {
    margin-bottom: 12px;
}